<div class="row">
  <div class="col-xs-3">

    <ul>
      {{#each model as |book|}}
        <li> {{link-to book.title "books.book" book}}</li>
      {{/each}}
    </ul>
    {{#link-to 'books.new'}}Add New Book{{/link-to}}

  </div>

  <div class="col-xs-9">
    {{outlet}}
  </div>

</div>